In [ ]:
# Q1.
1. pd.read_csv
2. df.head()
3. df.tail()
4. df.describe
5. df.dtypes

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("class-grades.csv")

In [4]:
df.head()

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

In [5]:
df.tail()

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

In [6]:
df.dtypes

Prefix          int64
Assignment    float64
Tutorial      float64
Midterm       float64
TakeHome      float64
Final         float64
dtype: object

In [8]:
df.describe()

          Prefix  Assignment    Tutorial     Midterm    TakeHome       Final
count  99.000000   97.000000   87.000000   83.000000   90.000000   94.000000
mean    7.313131   85.382371   90.790460   67.620723   80.990667   68.309681
std     0.932918   12.669667   13.806141   19.345963   24.142027   18.985373
min     4.000000   28.140000   34.090000   28.750000   16.910000   28.060000
25%     7.000000   80.530000   86.660000   52.810000   71.850000   52.707500
50%     8.000000   89.940000   93.680000   68.750000   88.890000   65.835000
75%     8.000000   95.000000  100.580000   81.250000   98.747500   84.722500
max     8.000000  100.830000  112.580000  110.000000  108.890000  108.890000

In [8]:
# Q2. 
import pandas as pd

def reindex_function(df):
    df = df.reset_index(drop=True)
    new_index = pd.RangeIndex(start=1,stop=2*len(df)+1,step=2)
    df.index = new_index
    return df

In [32]:
df = pd.DataFrame({'A':['Farmer','Doctor','Engineer'],
                   'B':['Crops','Patience','Tools'],
                   'C':['Fertilizers','Medicine','Programming']})
df_reindex = reindex_function(df)
print(df_reindex)

          A         B            C
1    Farmer     Crops  Fertilizers
3    Doctor  Patience     Medicine
5  Engineer     Tools  Programming

In [9]:
# Q3. 
import pandas as pd

def calculate_sum(df):
    sum = 0
    for i in df['Values']:
        if i == 40:
            break
        sum += i
    return sum

In [46]:
df = pd.DataFrame({'Values':[10,20,30,40,50]})
df_sum = calculate_sum(df)
print(df_sum)

60

In [10]:
# Q4. 
import pandas as pd

def new_col(df):
    words = df['Text'].str.split()
    word_count = [len(rows) for rows in words]
    df['word_count'] = word_count
    return df

In [75]:
df = pd.DataFrame({'Text':['How are you','I am good and awesome','What about you']})
df_col = new_col(df)
print(df_col)

                    Text  word_count
0            How are you           3
1  I am good and awesome           5
2         What about you           3

In [ ]:
# Q5.
Ans. 
DataFrame.size: It returns the total number of elements in the DataFrame. It is calculated as the product of the number
of rows and the number of columns in the DataFrame. The size attribute returns a single integer value.

DataFrame.shape: It returns a tuple representing the dimensions of the DataFrame. The tuple contains two elements: the
number of rows and the number of columns, respectively. The shape attribute provides the shape of the DataFrame as 
(number of rows, number of columns).

In [ ]:
# Q6.
Ans.
In pandas we use to read an excel file that is pd.read_excel()

In [11]:
# Q7. 
import pandas as pd

def email_extract(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

df = pd.DataFrame({'Email':['john.doe@example.com','amityadav@gmail.com','ravi@gmail.com']})
new_username_col = email_extract(df)
print(new_username_col)

                  Email   Username
0  john.doe@example.com   john.doe
1   amityadav@gmail.com  amityadav
2        ravi@gmail.com       ravi

In [12]:
#Q8. 
import pandas as pd

def new_dataframe(df):
    new_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return new_df

df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
new_df = new_dataframe(df)
print(new_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [13]:
# Q9. 
Data = {'Values':[24,35,67]}
df = pd.DataFrame(Data)
df.describe()

          Values
count   3.000000
mean   42.000000
std    22.338308
min    24.000000
25%    29.500000
50%    35.000000
75%    51.000000
max    67.000000

In [14]:
# Q10. 
import pandas as pd
data1 = {'date':['2022-01-01','2022-01-02','2022-01-03','2022-01-04','2022-01-05','2022-01-06','2022-01-07'],
         'sales':[100,200,300,400,500,600,700]}

df = pd.DataFrame(data1)

df['MovingAverage'] = df['sales'].rolling(window=7,min_periods=1).mean()
df

         date  sales  MovingAverage
0  2022-01-01    100          100.0
1  2022-01-02    200          150.0
2  2022-01-03    300          200.0
3  2022-01-04    400          250.0
4  2022-01-05    500          300.0
5  2022-01-06    600          350.0
6  2022-01-07    700          400.0

In [15]:
# Q11. 
import pandas as pd

Data = {'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']}
df = pd.DataFrame(Data)

df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.strftime('%A')
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [16]:
# Q12. 
import pandas as pd
data = {'Date':['2023-01-01','2023-01-15','2023-02-05','2023-01-31' ]}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-01-31')

df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
df

        Date
0 2023-01-01
1 2023-01-15
3 2023-01-31

In [ ]:
# Q13. 
Ans. 
The first and foremost necessary library that needs to be imported for basic function of pandas itself.
for example:
import pandas as pd